
.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
    gap: 30px;
}

.features-item{
    background: var(--box-background);
    box-shadow: var(--box-shadow);
    padding: 40px 30px;
    transition: all .3s linear;
    
}
.features-item:hover{
    transform: translateY(-5px);
    
}

.features-i{}

.features-item .title{
   font-weight: 600;
}
.features-item .text{}